.imc-wrapper {
  padding: clamp(2.4rem, 4vw, 4.8rem) clamp(3.2rem, 5vw, 6.4rem) clamp(3.2rem, 5vw, 6.4rem);

  background: #fff;
  border-radius: .6rem;
  width: clamp(2.8rem, 30rem + 10vw, 42.8rem);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  color: var(--title-color);
  font-size: clamp(2rem, 2vw ,3.2rem);
  line-height: 4.0rem;
}

form {
  margin-top: 3.2rem;
}

.input-wrapper + .input-wrapper  {
  margin-top: 1.6rem;
}

.input-wrapper label {
  display: block;
  color: var(--label-color);
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: .8rem;
}

.input-wrapper input {
  
  color: var(--input-color);
  background: var(--input-bg);
  width: 100%;
  border-radius: .6rem;
  padding: 1.6rem;
  border: 1px solid var(--border-color);
}

.input-wrapper input::placeholder {
  color: #49505780;
}

.input-wrapper input:focus {
  outline: 1px solid var(--input-outline);
}